.iq-button { cursor: pointer; background-color: #f0831d; color: #ffffff; line-height: 2; position: relative; z-index: 0; overflow: hidden; display: inline-block; padding: 15px 80px 15px 30px; font-size: 16px; border-radius: 4px; text-transform: capitalize; }
.iq-button span { color: #fff; display: block; text-transform: capitalize; transform: scaleX(0.9); letter-spacing: 3px; transform-origin: center left; transition: color 0.3s ease; position: relative; z-index: 1; font-size: 16px; font-family: 'Bebas Neue', cursive; }
.iq-button em { position: absolute; height: 1px; background: #fff; width: 47%; right: 30px; top: 46%; transform: scaleX(0.25); transform-origin: center right; transition: all 0.3s ease; z-index: 1; }
.iq-button:before, .iq-button:after {z-index: -1; content: ''; background: #0b0b0b; height: 50%; width: 0; position: absolute; transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
.iq-button:before { top: 0; left: 0; right: auto; }
.iq-button:after { bottom: 0; right: 0; left: auto; }
.iq-button:hover:before { width: 100%; right: 0; left: auto; }
.iq-button:hover:after { width: 100%; left: 0; right: auto; }
.iq-button:hover span { color: #ffffff; }
.iq-button:hover em { background: #ffffff; transform: scaleX(0.4); }

/*Button-radius*/
.iq-button.btn-radius { border-bottom-right-radius: 25px }

/*button with Outline*/
.iq-btn-outline { color: #0b0b0b; background: transparent; border: 2px solid #0b0b0b; }
.iq-button.iq-btn-link, .iq-btn-link { font-weight: 500; color: #0b0b0b; background: transparent; padding: 0; }

/*button Hover Effect */
.iq-button:hover, .iq-button:focus { color: #ffffff; background: #0b0b0b; text-decoration: inherit; }
.iq-btn-outline:hover, .iq-btn-outline:focus { border-color: #0b0b0b; color: #ffffff; }
.iq-btn-link:hover, .iq-btn-link:focus { color: #0b0b0b; background: transparent; }


body {
    background-color: #090B1A;
    color: #FEFEFF;
    min-height: 100vh;
    position: relative;
}


.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}
.navbar-nav li a{
    text-decoration: none;
}
.navbar-nav li{
    transition: transform 0.3s;
}
.navbar-nav li:hover{
    transform: translateY(-7px);
    background-color: #6280FA;
    border-radius: 10px;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #090B1A;
    position: fixed;
    top: 0;
    height: 95px;
    width: 100%;
    z-index: 999;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
}

.nav-item:hover{
    background-color: #6280FA;
    color: #fd7e14;
    border-radius: 9px;
}

.menuActive {
    background-color: #6280FA;
    border-radius: 9px;
}
.searchDiv {
    justify-content: center;
    margin-top: 140px;
}

.logIn_li {
    font-size: 12px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #FEFEFF;
    font-style: italic;
}

/* Awards Container CSS */

    .awardsContainer{
        display: flex; justify-content: center;
    }

/* Awards Container CSS */


/* Button Effect */

.orange {
    background-color: #EC9206;
    color: black;
}

.shade {
    background-color:#171C3C  !important;
    border-radius: 40px !important;
    /* margin-bottom: 40px;     */
}

.customeMenus{
    /* background-color: #171C3C; */
    height: 155px;
    border-radius: 7px;
    font-family: 'Gilroy', sans-serif;
    margin-bottom: 15px;
}

.customeMenus:hover {
    box-shadow: 0px 5px 10px 0px rgba(234, 128, 16, 0.7);
}

.customeMenus span{
    font-weight: 900;
    font-size: 36px;
    padding-top: 110px;
}

.CustomText{
    font-size: 142px;
    font-weight: bold;
    /* padding: 6px; */
    color: #232230;
}

/* Service CSS */

.serviceItemOne{
    height: 270px;
    background-color: #EC9206;
}
#divFirst{
    height: 270px;
}
#divSecond{
    height: 270px;margin-right: 10px;
}
#divThird{
    height: 270px;margin-left: 10px;
}
#divFourth{
    height: 230px;
}
#divFifth{
    height: 390px;
}
#divSixth{
    height: 370px;
}
#divSeventh{
    height: 210px;margin-right: 10px;
}
#divEighth{
    height: 210px;margin-left: 10px;
}

.serviceImageContainer {
    display:inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.serviceMenus{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 10px;
}

.serviceMenus ul li {
    margin: 0 10px;
}

.serviceItem {
    height: 240px;
    background-color: #171C3C;
    width: 100%;
    border-radius: 10px;
}
.serviceImgDiv img {
    border-radius: 10px;
    cursor: pointer;
}

/* Service CSS Ends*/

/* Projects Section Start */

.projectsLogos .col-md {
    height: 177px;
    background-color: #171C3C;
    width: 100%;
    border-radius: 9px;
    text-align: center;
    color: white;
    padding: 0;
}

.projectsItem{
    display: flex;align-items: center;justify-content: center;
}

.projectsLogos img{
    padding: 20px;
}

.projectsLogos .col-md:hover{
    box-shadow: 0px 5px 10px 0px rgba(215, 210, 210, 0.7);
}

.projectsImgs .col-md {
    background-color: #171C3C;
    border-radius: 10px;
    height: 165px;
}
.projectsImgs .col-md img{
    padding: 20px;
}

.projectsImgs .col-md:hover{
    box-shadow: 0px 5px 10px 0px rgba(112, 141, 236, 0.7);
}

.projectMenus{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.projectMenus ul li {
    margin: 0 10px;
}

/* .projectItems{
    padding: 14px;
} */

/* Projects Section End- */

/* Projects Section End */


.serviceMenusUl li {
    display: inline;
    list-style-type: none;
    padding: 6px 15px;
    cursor: pointer;
}

.colCentered {
    color: #FEFEFF;
}
.colCentered.active {
    background-color: #6280FA;
    border-radius: 9px;
}

.colCentered:hover {
    background-color: #6280FA;
    border-radius: 9px;
}

/* Grid Section Start */

.gridMainSection {
    height: auto;
    /* padding: 10px; */
}

.gridMainSection .row {
    padding: 10px;
}

.gridMainSection .row .col{
    background-color: #171C3C;
    border-radius: 10px;
    text-align: center;
    padding: 0px;
}

.gridMainSection .row .col:hover{
    box-shadow: 0px 5px 10px 0px rgba(234, 128, 16, 0.7);
}

.empty{
    background-color: #e7e2da !important;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Grid Section End */

/* Modal CSS */

    .modal-content{
        background-color:#090B1A;
    }
    #close-modal-btn i{
        font-size:20px; font-weight:normal;
    }
    .carousel-item{
        margin-left: 32px;
    }
    .middleContainer{
        margin-left: 63px;
    }
    .modal-header-logo{
        border-radius: 50%;width: 60px;height: 60px;display: flex;align-items: center;background-color: #171c3c;justify-content: center;
    }
    .modal-header-title{
        display: flex;align-items: center;justify-content: center; margin-left:25px; font-size: 30px;
    }
    .modalMiddleContainer{
        background-color:  #171C3C; border-radius: 10px;
    }
    .leftNameContainer{
        font-size: 40px; font-weight: bold;
    }
    .briefDescpContainer{
        justify-content: center; margin: 0px 70px;
    }

    .modalSideContainer{
        background-color: #171C3C;justify-content: center;display: flex;align-items: center;flex-direction: column;height: auto; border-radius: 10px;
    }

/* Right Carousel */
#modal-vertical-carousel .vertical-up {
    z-index: 999;
    position: fixed;
    margin: 0px;
    color: #fff;
    background: #6280FA;
    position: fixed;
    top: 61px;
    right: 130px;
    z-index: 999;
    font-size: 27px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    border-radius: 40px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
/*     
    z-index: 999; position: fixed; margin: 0px; color: #6280FA; background: #171c3c; position: relative; left: 73px; z-index: 999; font-size: 27px; width: 40px; height: 40px; text-align: center; line-height: 35px; border-radius: 40px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; cursor: pointer;  */
}

#modal-vertical-carousel .vertical-down { 
    z-index: 999;
    position: fixed;
    margin: 0px;
    bottom: 230px;
    color: #fff;
    background: #6280FA;
    position: fixed;
    right: 132px;
    z-index: 999;
    font-size: 27px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    border-radius: 40px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.owl-nav .owl-prev{
    width: 35px;
    height: 35px;
    border-radius: 60px;
    font-size: 25px !important;
    left: -17px;
    top: 57px;
    line-height: 4px !important;
    background-color: #6280FA !important;
    color: #fff !important;
}

.owl-nav .owl-next{
    width: 35px;
    height: 35px;
    border-radius: 60px;
    font-size: 25px !important;
    right: -17px;
    top: 57px;
    line-height: 4px !important;
    background-color: #6280FA !important;
    color: #fff !important;
}

/* Right Carousel */





    .bottomExploreContainer{
        margin-left: 92px;
    }
    .exploreSpan{
        font-size: 20px
    }
    .mainContainer{
        padding: 10px 51px 0 0;
    }
    .slider-card{
        background-color: #171C3C;justify-content: center;display: flex; align-items: center; flex-direction: column; height: 150px; border-radius: 10px;
    }
    .bottomImgLogoContainer{
        padding: 10px 15px 0 15px;
    }
    .bottomTextContainer{
        padding: 5px;
        color: white;
        font-weight: bold;
    }
    .bottomContaineritems{
        background-color: #171C3C;
        height: 170px;
        border-radius: 10px;
    }
/* Modal CSS */

/* Service Modal */

.serviceModal {
    background-color: #171C3C;
    color: whitesmoke;
}

#myModal{
    padding: 0px;
}

.carousel-control-prev {
    left: -80px;
    width: 100px;
}

.carousel-control-next {
    right: -80px;
    width: 100px;
}

/* hr{
    border-top: 1px solid #fd7e14;
} */

.owl-nav .owl-next{
    position: absolute;
    top:calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 40px!important;
    z-index: 1;
}

.owl-nav .owl-prev{
    position: absolute;
    top:calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 40px!important;
    z-index: 1;
}
.serviceScroller {
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.serviceScroller::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
}

.serviceScroller::-webkit-scrollbar-thumb {
    background-color: #007bff;   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #171C3C;  /* creates padding around scroll thumb */
}

.scroller {
    /* background-color: #fed9ff; */
    /* width: 600px; */
    height: 850px;
    overflow-x: hidden;
    overflow-y: auto;
}

.scroller::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
.scroller::-webkit-scrollbar-thumb {
    background-color: #007bff;   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #171C3C;  /* creates padding around scroll thumb */
}


.sideScroller {
    height: 565px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sideScroller::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.main-color { color: #f05c42; }

footer { padding-top: 40px; position: relative; }
footer .iq-instagram:before { position: absolute; left: 0; top: 0; content: ""; background: rgba(23, 54, 58, 0); width: 100%; height: 100%; border-radius: 5px; }
footer .iq-instagram:hover:before { background: rgba(23, 54, 58, 0.8); }
footer .iq-instagram a { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); opacity: 0; }
.iq-instagram:hover a { opacity: inherit; }
.iq-instagram a:hover i { color: #f05c42 !important; }
.instagram-box .row { margin: 0; }
.instagram-box .col-lg-4.col-md-4.col-sm-4, .instagram-box .col-lg-4.col-md-6.col-sm-6 { padding: 0 15px 15px 0; }
.iq-instagram img { border-radius: 5px; }
footer .widget, footer .widget:last-child { margin-bottom: 0px; }
footer .widget { background: transparent; padding: 0; }
footer .widget .footer-title { margin-bottom: 15px; font-weight: 600; }
footer .widget .footer-title a.rsswidget img { vertical-align: unset; }
footer .widget ul.menu li .sub-menu { padding-left: 10px; }
footer ul.menu { padding: 0; }
footer ul.menu li { margin-bottom:15px; list-style-type: none; }
.subAddressContainer{ padding: 0;}
.subAddressContainer li{ list-style-type: none; padding: 0px; }
.socialLinks a{ font-size: 16px; text-align: center; display: inline-block; width: 30px; height: 30px; line-height: 27px; border-radius: 50%;
    border: 1px solid #6280FA; box-shadow: 0px 0px 1px 1px rgba(112, 141, 236, 0.7); opacity: 0.7; transition: 0.3s ease-in-out; }
.socialLinks a:hover{ box-shadow: 0px 1px 3px 2px rgba(112, 141, 236, 0.7); opacity: 1; }
.socialLinks{ margin: 0; padding: 0; }
.socialLinks li { display: inline; padding: 0 9px 0 0; }
.footerSubMenu ul{ padding: 0px; }
.footerSubMenu ul li{ list-style-type: circle; display: inline; padding: 7px; margin: 0px; }
.footerSubMenu ul li.addressMenuactive{ background-color: #013d7d; color: antiquewhite; border-radius: 10px; }
.subAddressContainer{ display: none; }
.bottomLine{ border: 1px solid white; margin: 0px; }
.subAddressContainer li{ font-size: 15px; }
.subAddressContainer hr{ border: 1px solid #6280fa; }

/*---------------------------------------------------------------------
  Back to Top
-----------------------------------------------------------------------*/
#back-to-top .top { z-index: 999; position: fixed; margin: 0px; color: black; background: #EC9206; position: fixed; bottom: 30px; right: 25px; z-index: 999; font-size: 30px; width: 40px; height: 40px; text-align: center; line-height: 35px; border-radius: 40px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
#back-to-top .top:hover { background: #013d7d; color: white; -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }

/*---------------------------------------------------------------------
Close btn modal
-----------------------------------------------------------------------*/
#close-modal .close-modal-btn { z-index: 999; position: fixed; margin: 0px; color: #6280FA; background: #171c3c; position: fixed; top: 23px; right: 73px; z-index: 999; font-size: 27px; width: 40px; height: 40px; text-align: center; line-height: 35px; border-radius: 40px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; cursor: pointer; }
#close-modal .top:hover { background: white; color: #013d7d; -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }


/*---------------------------------------------------------------------
modal-middle-carousel
-----------------------------------------------------------------------*/
#modal-middle-carousel .middle-carousel-prev { z-index: 999; position: fixed; margin: 0px; color: #6280FA; background: #171c3c; position: fixed; top: 50%; left: 73px; z-index: 999; font-size: 27px; width: 40px; height: 40px; text-align: center; line-height: 35px; border-radius: 40px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; cursor: pointer; }

#modal-middle-carousel .middle-carousel-next { z-index: 999; position: fixed; margin: 0px; color: #6280FA; background: #171c3c; position: fixed; top: 50%; right: 73px; z-index: 999; font-size: 27px; width: 40px; height: 40px; text-align: center; line-height: 35px; border-radius: 40px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; cursor: pointer; }

.owl-nav .owl-prev{
    width: 35px;
    height: 35px;
    border-radius: 60px;
    font-size: 25px !important;
    left: -17px;
    top: 57px;
    line-height: 4px !important;
    background-color: #6280FA !important;
    color: #fff !important;
}

.owl-nav .owl-next{
    width: 35px;
    height: 35px;
    border-radius: 60px;
    font-size: 25px !important;
    right: -17px;
    top: 57px;
    line-height: 4px !important;
    background-color: #6280FA !important;
    color: #fff !important;
}

.waves-box {
    position: absolute;
    top: 40%;
    left: 41%;
}

.iq-video {
    border: 1px solid #6280FA; background: #171C3C; display: inline-block; width: 60px; height: 60px; text-align: center; font-size: 27px; color: #6280FA; float: left; border-radius: 100%; line-height: 2.1; z-index: 9; position: relative; }

.iq-video i { margin-left: 5px; }

.iq-waves {
    position: absolute;
    width: 14rem;
    height: 14rem;
    left: -50px;
    top: -51px;
    z-index: 2;
    float: right;
}
/* .iq-waves { position: absolute; width: 14rem; height: 14rem; left: -46px; top: -47px; z-index: 2; float: right; } */
.iq-waves .waves { position: absolute;
    width: 384px; width: 10rem; height: 384px; height: 10rem; background: rgba(255, 255, 255, 0.2);
    opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; border-radius: 320px; background-clip: padding-box; -webkit-animation: waves 3s ease-in-out infinite; animation: waves 3s ease-in-out infinite; }
.iq-waves .wave-1 { -webkit-animation-delay: 0s; animation-delay: 0s;}
.iq-waves .wave-2 { -webkit-animation-delay: 1s; animation-delay: 1s; }
.iq-waves .wave-3 { -webkit-animation-delay: 2s; animation-delay: 2s; }

@-webkit-keyframes waves {
	0% { -webkit-transform: scale(0.2, 0.2); transform: scale(0.2, 0.2); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
	50% { opacity: 0.9; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }
	100% { -webkit-transform: scale(0.9, 0.9); transform: scale(0.9, 0.9); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
}
@keyframes waves {
	0% { -webkit-transform: scale(0.2, 0.2); transform: scale(0.2, 0.2); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
	50% { opacity: 0.9; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }
	100% { -webkit-transform: scale(0.9, 0.9); transform: scale(0.9, 0.9); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
}

/*---------------------------------------------------------------------
Service Hover CSS
-----------------------------------------------------------------------*/
.serviceBtn {
    transition: transform 0.3s;
}

.serviceBtn:hover {
    transform: translateY(-5px);
    background-color: #013d7d;
    color: white;
}

.serviceImageContainer img:hover{
    background-color: #EC9206;
}

@media(max-width : 998px){
    .CustomText{
        font-size: 92px;
        font-weight: bold;
        /* padding: 6px; */
        color: #232230;
    }
    .serviceMenusUl {
        padding: 0;
        text-align: center;
    }
    .serviceMenus ul li {
        display:block;
    }
}

/* For Mobiles */
@media(max-width : 480px) and (min-width:320px){

    .navbar-brand{
        padding: 15px;
    }
    .navbar-brand img{
        height: 50px;
        width: 180px !important;
    }
    .searchDiv{
        padding: 0 34px;
    }
    .shade{
        margin-bottom: 10px;
    }
    .filterBtn button{
        width: 150px;
        margin-left: 60px;
    }
    .CustomText{
        font-size: 62px;
        font-weight: bold;
        /* padding: 6px; */
        color: #232230;
    }

    .searchDiv {
        justify-content: center;
        margin-top: 15px;
    }
    .serviceMenus ul li {
        display:block;
    }
    .shade{
        font-size: 20px;
    }
    #divSecond{
        width: 100%;
    }
    .serviceMenusUl li{
        font-size: 20px;
    }
    .widget p{
        text-align: justify;
        font-size: 20px;
    }
    .projectItems{
        padding: 14px 46px;
    }





    #close-modal .close-modal-btn{
        right: 9px;
    }
    #modal-middle-carousel .middle-carousel-next{
        right: 9px;
    }
    #modal-middle-carousel .middle-carousel-prev{
        left: 9px;
    }
    .middleContainer {
        margin-left: 15px;
    }
    .carousel-item{
        margin-left: 0;
    }
    .bottomExploreContainer{
        margin-left: 35px;
    }
}
